{% extends "base.html" %} 
{% block title %} Add ticket {% endblock %}
{% block content %}



<div class="container">
    <h2>Dodaj zgłoszenie</h2>
    <form method="POST" enctype="multipart/form-data" action="/tickets/add_ticket">
        {% csrf_token %}
        <div class="mb-3 form-group">
            <label for="title">Tytuł</label>
            <input id="title" name="title" type="text" class="form-control">
        </div>
        <div class="mb-3 form-group">
            <label for="boat_number">Numer jednostki</label>
            <input id="boat_number" name="boat_number" type="text" class="form-control">
        </div>

        <div class="mb-3 form-group">
            <label for="description">Opis</label>
            <textarea id="description" name="description" type="text" class="form-control" rows="3"></textarea>
        </div>

        <div class="dropdown form-group">
            <label for="priority">Priorytet</label>
            <select name="priority" id="priority" class="form-control">
                {% for priority in priorities %}
                <option value="{{ priority.id }}">{{ priority.name }}</option>
                {% endfor %}
            </select>
        </div>

        <p></p>

        <h5>Dotyczy działu:</h5>
        <div class="form-check">
            {% for department in departments %}
            <input type="checkbox" id="department_{{ department.id }}" name="departments[]" value="{{ department.id }}" class="form-check-input" onchange="toggleDrawingInput('{{ department.id }}')">
            <label for="depatment_{{ department.id }}" class="form-check-label"> {{ department.name }}</label><br>
            {% endfor %}
        </div>

        <p></p>

        <div id="drawings-container" class="mb-3 form-group">
            {% for department in departments %}
            <div class="mb-3 form-group drawing-input" id="drawing_for_{{ department.id }}" style="display:none;">
                <label for="drawing_{{ department.id }}">Rysunek {{ department.name }}</label>
                <input id="drawing_{{ department.id }}" name="drawings_{{ department.id }}" type="text" placeholder="Numer rysunku" class="form-control" />
            </div>
            {% endfor %}
        </div>
        <p></p>

        <h5>Pliki:</h5>
        <div class="mb-3">
            <!--<input type="file" name="image" accept="image/*" />-->
            <label for="images">Dodaj zdjęcia</label>
            <input type="file" id="images" name="images" multiple>
        </div>
        <p></p>
        <button class="btn btn-primary" type="submit">Dodaj</button>
    </form>
</div>

<script>
    // Function to toggle visibility of drawing inputs based on department checkbox
    function toggleDrawingInput(departmentId) {
        var checkbox = document.getElementById('department_' + departmentId);
        var drawingInput = document.getElementById('drawing_for_' + departmentId);

        if (checkbox.checked) {
            // Show the drawing input when department is selected
            drawingInput.style.display = 'block';
        } else {
            // Hide the drawing input when department is unselected
            drawingInput.style.display = 'none';
        }
    }
</script>
{% endblock %}

